<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.bit.ssmall.mapper.CartMapper">
			
	<insert id="cartBuy" parameterType="int">
		<![CDATA[ 
        Insert into buy(b_number, m_number, p_number, b_amount, b_status, b_totalprice) 
        values(buy_seq.nextval, #{m_number}, #{p_number},#{b_amount},'결제완료',#{b_totalprice})
		]]>
	</insert>		
	
	
	
	
</mapper>
